/* @embed base.css */
/* reset */

.dateselector {
  flex-direction: box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.app {
  flex-direction: column;
  width: 280px;
  max-height: 450px;
  flex: 1;
  box-shadow: 0 2px 15px #ccc;
  margin: 10px;
  align-items: stretch;
  }

.title {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  padding: 15px 20px 0px 20px;
}

.dokusho {
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.textinput {
  padding-top: 20px;
  padding-bottom: 10px;
}

.entries {
  flex-direction: column;
  text-align: center;
  flex: 1;
  overflow: auto;
}

.entry {
  flex-direction: column;
  padding: 5px 10px;
  align-items: center;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 5px 10px 20px;
}
